.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#image-gallery {
    margin-top: 10%;
}

#final-div {
    width: 100%;
    margin-top: 60%;
    text-align: right;
}

img {
    width: 241px;
    height: 340px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
}